[include]
    path = .gitconfig-priv
[merge]
    tool = vimdiff
[color]
    branch = auto
    diff = auto
    status = auto
[alias]
    unpushed = log --branches --not --remotes
    s = status
    g = log --graph --decorate --abbrev-commit --pretty=oneline --all
    co = checkout
    a = add
    b = branch
    c = commit
    d = diff
    dc = diff --cached
    m = merge
    sa = stash apply
    sl = stash list
    ss = stash save
    sp = stash pop
    sd = stash drop
    last = log -1 HEAD
    alias = config --get-regexp alias
    tree = ls-tree -r --full-tree HEAD
    unchanged = update-index --assume-unchanged
    uc = update-index --assume-unchanged
    changed = update-index --no-assume-unchanged
    ch = update-index --no-assume-unchanged
    ls = ls-files -v
    conf = config --list
    resethh = reset HEAD --hard
    pushu = push --set-upstream
[core]
    excludesfile = ~/.gitignore_global
    pager = less -X -F
    editor = vi
[pull]
	rebase = false

